<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>592577200491-s54f8t4gbd3o51nhgocilj39jvna3pfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592577200491-s54f8t4gbd3o51nhgocilj39jvna3pfl</string>
	<key>API_KEY</key>
	<string>AIzaSyB-cqrkwA9PVb2FEhOXtRA1UYReL8gEzsA</string>
	<key>GCM_SENDER_ID</key>
	<string>592577200491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UTSEC.EWeek2018</string>
	<key>PROJECT_ID</key>
	<string>eweek16-78118</string>
	<key>STORAGE_BUCKET</key>
	<string>eweek16-78118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:592577200491:ios:252ec162cb56ba1e</string>
	<key>DATABASE_URL</key>
	<string>https://eweek16-78118.firebaseio.com</string>
</dict>
</plist>
